.logInContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logInTitle {
    display: flex;
    margin-bottom: 20px;
    color: #fff5b7;
}

.logInLogo {
    margin-right: 10px;
}

.logInServiceName {
    font-size: 30px;
    font-weight: 800;
}

.logInInput {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 5px;
    font-size: 12px;
    color: #808080;
}

.logInButton {
    justify-content: center;
    text-align: center;
    background: #ffbbb0;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
}

.signUp {
    display: flex;
    justify-content: flex-end;
}

.signUpButton {
    width: 30%;
    text-align: center;
    background: #b45a05;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    align-items: left;
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    outline: 0;
}
